.env
target/
tests/
Dockerfile
scripts/
migrations/.env
backend/target/
backend/tests/
Dockerfile
backend/scripts/
backend/migrations/

# Git
.git
.gitignore

# Miscellaneous
frontend/*.class
frontend/*.log
frontend/*.pyc
frontend/*.swp
frontend/.DS_Store
frontend/.atom/
frontend/.buildlog/
frontend/.history
frontend/.svn/
frontend/migrate_working_dir/

# Flutter/Dart/Pub related
frontend/**/doc/api/
frontend/**/ios/Flutter/.last_build_id
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/

# Web related
frontend/lib/generated_plugin_registrant.dart

# Symbolication related
frontend/app.*.symbols

# Obfuscation related
frontend/app.*.map.json

# Android Studio will place build artifacts here
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release