@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 251, 244);
}

section {
    margin: 0 auto;
    max-width: 55em;
    width: 100%;
    background: url(bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: relative;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    color: #000;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}

header .navigation {
    justify-content: space-between;
}

header .navigation a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: .1em;
    padding: .1rem .1em;
    border-radius: 1em;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child) {
    margin-right: .5em;
}

header .navigation a:hover {
    background: #fff;
}


.content .info h2 {
    color: #226A80;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .2em;
}

.content .info h2 span {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.content .info p {
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 4em;
}

.content .info-btn {
    color: #fff;
    background: #226A80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .2em;
    padding: 1em 2em;
    border-radius: .5em;
    transition: 0.3s;
    transition-property: background;
}

.content .info-btn:hover {
    background: #0C4F60;
}

.media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a {
    position: relative;
    color: #111;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child) {
    margin-right: 60px;
}

.media-icons a:hover {
    transform: scale(1.5);
}

label {
    display: none;
}

#check {
    z-index: 3;
    display: none;
}